<footer>
    <div>
        <img src="./assets/img/logo-me.png" alt="">
    </div>
    <div>
        <div class="links-design">
            <a class="btn-secondary-default" href="#">Imprint</a>
            <a class="btn-secondary-default" href="#">Data Protection</a>
        </div>

        <div class="link-img-design">
            <a href="#"><img src="./assets/img/linkedin-box-fill.png" title="Linkedin"></a>
            <a href="#"><img src="./assets/img/github-fill.png" title="Github"></a>
        </div>

    </div>
</footer>