<footer>
    <div>
        <img class="home-img" routerLink="/" src="./assets/img/logo-me.png" alt="">
    </div>
    <div>
        <div class="links-design">
            <a class="btn-secondary-default" routerLink="imprint">Imprint</a>
            <a class="btn-secondary-default" routerLink="data-protection">Data Protection</a>
        </div>

        <div class="link-img-design">
            <a target="_blank" href="https://www.linkedin.com/in/dennis-kemnade-704808233/"><img src="./assets/img/linkedin-box-fill.png" title="Linkedin"></a>
            <a target="_blank" href="https://github.com/k-webdev"><img src="./assets/img/github-fill.png" title="Github"></a>
        </div>

    </div>
</footer>