.about-me-body-sort {
    width: 100%;
    min-height: 1100px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-about-me {
    padding: 50px 120px 50px 120px;
    width: calc(100% - 480px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px #2dfcd8;
    text-align: center;
    img {
        margin-right: 32px;
        border-radius: 100%;
        height: 200px;
        width: 200px;
        object-fit: cover;
        object-position: 50% 10%;
    }
    p,
    h3 {
        color: white;
        margin-left: 32px;
    }
}

.h3-size {
    font-size: 32px;
}

.about-me-sort-elements {
    width: calc(100% - 240px);
    display: flex;
    justify-content: space-between;
    padding: 0 120px 0 120px;
}

.background-about-me-sort {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.img-background {
    background-color: #2dfcd8;
    border-radius: 100%;
    img {
        padding: 25px;
        width: 50px;
        height: 50px;
    }
}

.content-about-me {
    h4 {
        color: white;
    }
}

.about-me-text-design {
    color: white;
    height: fit-content;
}