<div id="aboutMe" class="about-me-body-sort">
    <div class="left-about-me">
        <img src="./assets/img/Bewerbungsfoto komprimiert.jpg" alt="">
        <div class="about-me-top">
            <h3 class="h3-size">About me.</h3>
            <p>" I´m an boulder ethusiast and</p>
            <p>front end developer who loves lerning new."</p>
        </div>
    </div>


    <div class="about-me-sort-elements">
        <div class="background-about-me-sort">
            <div class="img-background"><img src="./assets/img/walk-line.png" alt=""></div>
            <div class="content-about-me">
                <h4>MY JOURNEY BEGAN</h4>
                <div class="about-me-text-design">
                    My journey into the world of technology started early. I started repairing broken devices at the young age of 13 (which initially had the opposite effect). My love for programming came from films like Password Swordfish or Die Hard 4.0, where I liked
                    Justin Long in the role of the hacker even better than Bruce Willis. Films from the Hackers series inspired me long before that.
                </div>
            </div>
        </div>

        <div class="background-about-me-sort">
            <div class="img-background"><img src="./assets/img/heart-line.png" alt=""></div>
            <div class="content-about-me">
                <h4>My love for IT was born</h4>
                <div class="about-me-text-design">
                    While my professional direction was moving further and further away from IT, I felt the urge to change something. By coincidence, I was asked to become a specialist in refrigeration technology in my company. I did this and from now on worked with technical
                    systems. Due to my technical understanding, I was given some tasks in the field of digitization. In the context of digitization, the urge to pursue my actual interest grew in me more and more.
                </div>
            </div>
        </div>

        <div class="background-about-me-sort">
            <div class="img-background"><img src="./assets/img/search-line.png" alt=""></div>
            <div class="content-about-me">
                <h4>Here I found what I was looking for</h4>
                <div class="about-me-text-design">
                    Which I finally sealed with a frontend developer course at the Developer Academy. Since November 2021 I have been taking part in the course full-time. I experience a lot of success, a lot of experience and I've never regretted it.
                </div>
            </div>
        </div>

        <div class="background-about-me-sort">
            <div class="img-background"><img src="./assets/img/flight-takeoff-line.png" alt=""></div>
            <div class="content-about-me">
                <h4>Now my journey starts</h4>
                <div class="about-me-text-design">
                    I started a wonderful journey into the world of IT here and I'm already looking forward to seeing where the journey is going to, After completing the frontend training, I will gain first experience in backend developement.
                </div>
            </div>
        </div>

    </div>
</div>