<div class="about-me-body-sort">
    <div class="left-about-me">
        <img src="./assets/img/me-image.JPEG" alt="">
        <div>
            <h3 class="h3-size">About me.</h3>
            <p>" I´m an outdoor ethusiast (Bouldering forever) and</p>
            <p>front end developer who loves pushing boundries."</p>
        </div>
    </div>
    <div>

        <div class="about-me-sort-elements">
            <div class="background-about-me-sort">
                <div class="img-background"><img src="./assets/img/walk-line.png" alt=""></div>
                <div class="content-about-me">
                    <h4>MY JOURNEY BEGAN</h4>
                    <span>
                        as a projectmanager in an industrial company. Early on,
                        I got the chance to collaborate in multiple IT and digitalization
                        projects.
                    </span>
                </div>
            </div>

            <div class="background-about-me-sort">
                <div class="img-background"><img src="./assets/img/heart-line.png" alt=""></div>
                <div class="content-about-me">
                    <h4>MY JOURNEY BEGAN</h4>
                    <span>
                        as a projectmanager in an industrial company. Early on,
                        I got the chance to collaborate in multiple IT and digitalization
                        projects.
                    </span>
                </div>
            </div>

            <div class="background-about-me-sort">
                <div class="img-background"><img src="./assets/img/search-line.png" alt=""></div>
                <div class="content-about-me">
                    <h4>MY JOURNEY BEGAN</h4>
                    <span>
                        as a projectmanager in an industrial company. Early on,
                        I got the chance to collaborate in multiple IT and digitalization
                        projects.
                    </span>
                </div>
            </div>

            <div class="background-about-me-sort">
                <div class="img-background"><img src="./assets/img/flight-takeoff-line.png" alt=""></div>
                <div class="content-about-me">
                    <h4>MY JOURNEY BEGAN</h4>
                    <span>
                        as a projectmanager in an industrial company. Early on,
                        I got the chance to collaborate in multiple IT and digitalization
                        projects.
                    </span>
                </div>
            </div>

        </div>
    </div>

</div>