RewriteEngine On

RewriteCond %{SERVER_PORT} 80

RewriteRule ^(.*)$ https://www.dein-server.com/$1 [R,L]

RewriteCond %{HTTP_HOST} ^stefan-moldoveanu\.com [NC]

RewriteCond %{SERVER_PORT} 80

RewriteRule ^(.*)$ https://www.dein-server.com/$1 [R,L]