<!-- Landing Element -->
<div class="container-landing">
    <div class="landing-left">
        <p>Hi,</p>
        <p>I´m <span class="colored-name">Dennis</span> Kemnade</p>
        <p>Front End develop<span class="colored-letter">e</span>r</p>
        <a class="btn-primary-default" style="margin-top: 32px;" href="#contact-me">Contact me</a>
    </div>
    <div>
        <img class="landing-img" src="./assets/img/me-image.JPEG">
    </div>
    <a href="#"><img class="scroll-down-arrow" src="./assets/img/scroll-down.png"></a>
</div>
<!-- end land -->
<!-- My Skills -->

<div class="skills-background">
    <div class="headline-skills">
        <h2>MY Skills</h2>
    </div>
    <div>
        <div class="skill-sort-lines">
            <div class="sort-text-img">
                <div class="card-body-img">
                    <img src="./assets/img/java script.png" alt="">
                </div>
                <div class="card-body-text">
                    <p>Java Script</p>
                </div>

            </div>

            <div class="sort-text-img">
                <div class="card-body-img">
                    <img style="background-color: #1a1a1a; border-radius: 100%; padding: 8px; object-fit: contain;"
                        src="./assets/img/angular.png" alt="">
                </div>
                <div class="card-body-text">
                    <p>Angular</p>
                </div>

            </div>

            <div class="sort-text-img">
                <div class="card-body-img">
                    <img src="./assets/img/Group 205.png" alt="">
                </div>
                <div class="card-body-text">
                    <p>HTML / CSS</p>
                </div>

            </div>


        </div>
    </div>
    <div>
        <div class="skill-sort-lines">
            <div class="sort-text-img">
                <div class="card-body-img">
                    <img src="./assets/img/Group 226.png" alt="">
                </div>
                <div class="card-body-text">
                    <p>Scrum</p>
                </div>

            </div>

            <div class="sort-text-img">
                <div class="card-body-img">
                    <img src="./assets/img/Git-Icon-1788C 2.png" alt="">
                </div>
                <div class="card-body-text">
                    <p>GIT</p>
                </div>

            </div>

            <div class="sort-text-img">
                <div class="card-body-img">
                    <img src="./assets/img/Group 20.png" alt="">
                </div>
                <div class="card-body-text">
                    <p>Design <br> Thinking</p>
                </div>

            </div>


        </div>
    </div>

    <div>
        <div class="skill-sort-lines">
            <div class="sort-text-img">
                <div class="card-body-img">
                    <img src="./assets/img/icons8-rest-api-80 2.png" alt="">
                </div>
                <div class="card-body-text">
                    <p>Rest API</p>
                </div>

            </div>

            <div class="sort-text-img">
                <div class="card-body-img">
                    <img src="./assets/img/icons8-test-lab-96 2.png" alt="">
                </div>
                <div class="card-body-text">
                    <p>Test <br> automation</p>
                </div>

            </div>

            <div class="sort-text-img">
                <div class="card-body-img">
                    <img src="./assets/img/icons8-database-52 2.png" alt="">
                </div>
                <div class="card-body-text">
                    <p>Databases</p>
                </div>

            </div>


        </div>
    </div>
</div>

<!-- end my skills -->

<!-- My Work -->

<div class="spotlight-galery-background">

    <div class="spotlight-galery-top-sort">
        <div class="headline-my-work">
            <h2 style="color: white; margin: 0;" id="my-work">My Work</h2>
        </div>
        <div class="button-sort">
            <a class="btn-secondary-default" href="#">All</a>
            <a class="btn-secondary-default" href="#">Angular</a>
            <a class="btn-secondary-default" href="#">Java Script</a>
        </div>
    </div>

    <div class="rect-sort-background">

        <div class="rect-sort">

            <div class="rect"></div>
            <div class="rect"></div>

        </div>
        <div class="rect-sort">

            <div class="rect rect-addon">
                <div class="El-Pollo-Loco-rect">
                    <h3>El Pollo Loco</h3>
                    <p>JavaScript -based jump and run game.</p>
                    <a class="btn-secondary-default" href="#">Try out</a>
                </div>
            </div>
            <div class="rect"></div>

        </div>

    </div>

</div>

<!-- end My work -->

<!-- about me  -->

<div class="about-me-body-sort">
    <div class="left-about-me">
        <img src="./assets/img/me-image.JPEG" alt="">
        <div>
            <h3 class="h3-size">About me.</h3>
            <p>" I´m an outdoor ethusiast (Bouldering forever) and</p>
            <p>front end developer who loves pushing boundries."</p>
        </div>
    </div>


    <div class="about-me-sort-elements">
        <div class="background-about-me-sort">
            <div class="img-background"><img src="./assets/img/walk-line.png" alt=""></div>
            <div class="content-about-me">
                <h4>MY JOURNEY BEGAN</h4>
                <span>
                    as a projectmanager in an industrial company. Early on,
                    I got the chance to collaborate in multiple IT and digitalization
                    projects.
                </span>
            </div>
        </div>

        <div class="background-about-me-sort">
            <div class="img-background"><img src="./assets/img/heart-line.png" alt=""></div>
            <div class="content-about-me">
                <h4>MY JOURNEY BEGAN</h4>
                <span>
                    as a projectmanager in an industrial company. Early on,
                    I got the chance to collaborate in multiple IT and digitalization
                    projects.
                </span>
            </div>
        </div>

        <div class="background-about-me-sort">
            <div class="img-background"><img src="./assets/img/search-line.png" alt=""></div>
            <div class="content-about-me">
                <h4>MY JOURNEY BEGAN</h4>
                <span>
                    as a projectmanager in an industrial company. Early on,
                    I got the chance to collaborate in multiple IT and digitalization
                    projects.
                </span>
            </div>
        </div>

        <div class="background-about-me-sort">
            <div class="img-background"><img src="./assets/img/flight-takeoff-line.png" alt=""></div>
            <div class="content-about-me">
                <h4>MY JOURNEY BEGAN</h4>
                <span>
                    as a projectmanager in an industrial company. Early on,
                    I got the chance to collaborate in multiple IT and digitalization
                    projects.
                </span>
            </div>
        </div>

    </div>
</div>

<!-- end about me -->

<!-- contact form -->

<div class="contact-background-sort">
    <div class="headline-positions">
        <h2 id="contact-me">Contact me.</h2>
        <p>Get in touch via the form below, or by emailing <a style="color: #2DFCD8;"
                href="mailto: dennis@denniskemnade.de">dennis@denniskemnade.de</a></p>
    </div>


    <form action="">
        <p>Name</p>
        <input placeholder="Enter your name" type="text">
        <p>Email adress</p>
        <input placeholder="Enter your Email adress" type="text">
        <p>Message</p>
        <textarea placeholder="Enter your message" name="" id="" cols="30" rows="10"></textarea>
        <div class="btn-sort">
            <a class="btn-primary-default" href="#">Send</a>
        </div>
    </form>
</div>

<!-- end contact form -->