<div class="container-landing">
    <div class="landing-left">
        <p>Hi,</p>
        <p>I´m <span class="colored-name">Dennis</span> Kemnade</p>
        <p>Front End develop<span class="colored-letter">e</span>r</p>
        <a class="btn-primary-default" style="margin-top: 32px;" href="#contact-me">Contact me</a>
    </div>
    <div>
        <img class="landing-img" src="./assets/img/me-image.JPEG">
    </div>
    <a href="#"><img class="scroll-down-arrow" src="./assets/img/scroll-down.png"></a>
</div>
