<!-- Landing Element -->
<div class="container-landing">
    <div class="landing-left">
        <p *ngIf="animateGreetingLine1" class="animate-text time1">Hi,</p>
        <p *ngIf="animateGreetingLine2" class="animate-text time2">I´m <span class="colored-name">Dennis</span> Kemnade</p>
        <p *ngIf="animateGreetingLine3" class="animate-text time3">Frontend Develop<span class="colored-letter">e</span>r</p>
        <a [class.btn-struggle]="animateButtonOnOff" class="btn-primary-default" style="margin-top: 32px;" href="#contact-me">Contact me</a>
    </div>
    <div>
        <img class="landing-img" src="./assets/img/me-image.JPEG">
    </div>
</div>
<!-- end landing -->



<!-- My Skills -->
<app-skills></app-skills>

<!-- My Work -->
<app-my-work></app-my-work>

<!-- about me  -->
<app-about-me></app-about-me>

<!-- contact form -->
<app-contact-form></app-contact-form>