/* Landing =============================== */
body {
    margin: 0;
}

.colored-letter {
    color: #2dfcd8;
}

.d-none {
    display: none;
}

.colored-name {
    color: #fa2759;
}

.container-landing {
    padding-left: 120px;
    padding-right: 120px;
    background-color: black;
    width: calc(100% - 240px);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
        font-weight: 600;
        font-size: 80px;
        color: white;
        margin: 0;
    }
}

.landing-left {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.landing-img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    object-position: 50%50%;
    border-radius: 100%;
}

/* end landing ========= */

/*  my skills */

.skills-background {
    background-color: #1a1a1a;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 32px 0;
}

.headline-skills {
    h2 {
        color: white;
        font-size: 48px;
        margin: 32px 0 0 0;
    }
}

.skill-sort-lines {
    display: flex;
    justify-content: center;
}

.sort-text-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body-img {
    position: relative;
    top: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.5);
    border-radius: 100%;

    img {
        background-color: white;
        width: 50px;
        object-fit: contain;
    }
}

.card-body-text {
    margin: 16px 32px 16px 32px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: white;
    width: 225px;
    height: 125px;
    border-radius: 8px;
    padding-bottom: 32px;
    p {
        font-size: 21px;
        font-weight: bold;
        text-align: center;
    }
}

/* end my skills */

/* my work */

body {
    margin: 0;
}

.spotlight-galery-background {
    background-color: black;
    width: 100%;
    min-height: 100vh;
    padding: 0 0 32px 0;
}

.headline-my-work {
    h2 {
        color: white;
        margin: 0;
        font-size: 50px;
    }
}

.spotlight-galery-top-sort {
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.background-button {
    padding: 21px 0 21px 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    margin-bottom: 16px;
}

.button-sort {
    margin-top: 32px;
}

.rect-sort-background {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rect-sort {
    display: flex;
}

.rect {
    width: 600px;
    height: 350px;
    background-color: white;
    margin: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    /* box-shadow: 0px 0px 25px 10px rgba(255,255,255,0.2); */
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.rect-addon-pollo {
    background-image: url("../../assets/img/EPL.png");

    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.rect-addon-poke {
    background-image: url("../../assets/img/poke.png");

    background-size: cover;
    background-position: 60% 60%;
    background-repeat: no-repeat;
}

.pokedex-rect {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    a {
        width: fit-content;
        margin: 0 16px 0 16px;
    }

    p {
        color: white;
        margin: 0 0 32px 16px;
        font-size: 21px;
        font-weight: bold;
    }

    h3 {
        font-size: 32px;
        color: #fa2759;
        margin: 16px 0 16px 16px;
    }
}

.El-Pollo-Loco-rect {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        width: fit-content;
        margin: 0 16px 0 16px;
    }

    p {
        margin: 0;
        font-size: 21px;
        font-weight: bold;
        margin-bottom: 200px;
    }

    h3 {
        font-size: 32px;
        color: #fa2759;
        margin: 0 0 8px 0;
    }
}

.rect-addon-web {
    background-image: url("../../assets/img/PF.png");

    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: black;
}

.ring-rect {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        width: fit-content;
        margin: 0 16px 0 16px;
        margin-bottom: 0px;
    }

    p {
        margin: 0;
        font-size: 21px;
        font-weight: bold;
        margin-top: 150px;
        margin-bottom: 100px;
    }
}

.rect-addon-ring {
    background-image: url("../../assets/img/ringoffire.png");

    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: black;
}

.web-rect {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        width: fit-content;
        margin: 0 0 0 0;
    }

    p {
        color: white;
        padding: 0 0 132px 0;
        font-size: 21px;
        font-weight: bold;
    }

    h3 {
        font-size: 32px;
        color: #fa2759;
        margin: 0 0 16px 0;
    }
}

.rect-addon-quiz {
    background-image: url("../../assets/img/quiz.jpg");

    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: black;
}

.quiz-rect {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);

    a {
        width: fit-content;
        margin: 0 16px 0 16px;
    }

    p {
        color: white;
        padding: 0 0 132px 0;
        font-size: 21px;
        font-weight: bold;
    }

    h3 {
        font-size: 32px;
        color: #fa2759;
        margin: 0 0 8px 0;
    }
}

@media (max-width: 1515px) {
    .rect-sort {
        flex-direction: column;
    }
}

/* end my work */

/* about me */

.about-me-body-sort {
    width: 100%;
    min-height: 1100px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-about-me {
    padding: 50px 120px 50px 120px;
    width: calc(100% - 480px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px #2dfcd8;
    text-align: center;
    img {
        margin-right: 32px;
        border-radius: 100%;
        height: 200px;
        width: 200px;
        object-fit: cover;
    }

    p,
    h3 {
        color: white;
        margin-left: 32px;
    }
}

.h3-size {
    font-size: 32px;
}

.about-me-sort-elements {
    width: calc(100% - 240px);
    display: flex;
    justify-content: space-between;
    padding: 0 120px 0 120px;
}

.background-about-me-sort {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.img-background {
    background-color: #2dfcd8;
    border-radius: 100%;

    img {
        padding: 25px;
        width: 50px;
        height: 50px;
    }
}

.content-about-me {
    h4 {
        color: white;
    }
}

.about-me-text-design {
    color: white;
    height: fit-content;
}

@media (max-width: 1115px) {
    .left-about-me {
        flex-direction: column;
        text-align: center;

        h3,
        p {
            margin: 32px 0 0 0;
        }
    }

    .background-about-me-sort {
        margin-bottom: 0px;
        height: fit-content;
    }

    .about-me-sort-elements {
        flex-direction: column;
        align-items: center;
        height: auto !important;
        margin-bottom: 40px;
    }
}

@media (max-width: 945px) {
    .container-landing {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
        padding-top: 120px;
    }

    .landing-left {
        align-items: center;
        text-align: center;
        margin: 32px 0 32px 0;
        justify-content: flex-start;
        height: auto;
    }

    .sort-text-img {
    }

    .card-body-text {
        width: 150px;
        margin: 8px;
    }

    .card-body-img {
        position: relative;
        top: 50px;
        width: 80px;
        height: 80px;
    }

    .button-sort {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn-secondary-default {
        margin: 16px;
    }

    .headline-positions {
        width: 100% !important;
        align-items: center !important;
    }

    .contactSuccess {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
    }

    .contact-background-sort {
        padding: 0 0 50px 0 !important;
        p {
            width: 80%;
        }
    }

    form {
        width: 100% !important;
        align-items: center !important;
        input,
        textarea {
            width: 80% !important;
        }
    }

    .btn-sort {
        width: 80% !important;
    }

    .rect-sort {
        width: 100%;
        align-items: center;
    }

    .rect {
        width: 80%;
    }

    .skills-background {
        min-height: auto;
    }
}

@media (max-width: 900px) {
}

@media (max-width: 450px) {
    .rect {
        margin: 8px 0 8px 0;
    }

    .container-landing {
        padding-top: 120px;
    }

    .landing-img {
        width: 250px;
        height: 250px;
    }

    .El-Pollo-Loco-rect {
        p {
            margin-bottom: 178px;
        }
        h3 {
            margin: 0;
        }
    }

    .rect-addon-poke {
        background-position: 12% 60%;
    }
}

@media (max-width: 490px) {
    .card-body-text {
        margin-top: 32px;
        width: 100px;
        height: 60px;
        p {
            font-size: 16px;
            position: relative;
            top: 30px;
        }
    }

    .card-body-img {
        position: relative;
        top: 60px;
        width: 60px;
        height: 60px;
        img {
            width: 30px;
        }
    }

    .landing-left {
        p {
            font-size: 50px;
        }
    }

    .headline-skills {
        h2 {
            font-size: 32px;
        }
    }

    .headline-my-work {
        h2 {
            font-size: 32px;
        }
    }

    .rect {
        width: 98% !important;
        padding: 0 !important;
        margin: 16px 0 16px 0 !important;
    }

    .left-about-me {
        padding: 0;
        width: 100%;
        img {
            margin: 32px 0 0 0 !important;
        }
    }

    .about-me-top {
        width: 100%;
        margin-bottom: 32px;
    }
}

/* end about me */

/* contact form */

form {
    width: 800px;
    display: flex;
    flex-direction: column;

    input,
    textarea {
        color: white;
        width: 800px;
        background-color: #1a1a1a;
        border: none;
        border-radius: 3px;
        padding: 8px;
        resize: none;
        &:focus {
            outline: none;
        }
    }

    a {
        margin: 16px 0 0 0;
        width: fit-content;
    }
}

.headline-positions {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-background-sort {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 50px 0;

    h2 {
        color: #2dfcd8;
        font-size: 50px;
    }
    p {
        color: white;
    }
}

.btn-sort {
    width: 800px;
    display: flex;
    justify-content: flex-end;
    padding: 16px;
}

/* end contact form */
