.animationZoomIn {
    animation: zoomIn 1s;
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    75% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.animationZoomOut {
    animation: zoomOut 1s;
    transform: scale(0);
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.colored-letter {
    color: #2dfcd8;
}

.d-none {
    display: none;
}

.colored-name {
    color: #fa2759;
}

.container-landing {
    padding-left: 120px;
    padding-right: 120px;
    background-color: black;
    width: calc(100% - 240px);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
        font-weight: 600;
        font-size: 80px;
        color: white;
        margin: 0;
    }
}

.landing-left {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.btn-struggle {
    animation: struggleBTN 0.75s;
}

@keyframes struggleBTN {
    0% {
        transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
    }
    25% {
        transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(48deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
    }
    50% {
        transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(-48deg) rotateY(-13deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
    }
    75% {
        transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(13deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
    }
    100% {
        transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
    }
}

.animate-text {
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
}

.time1 {
    animation: typing1 0.75s steps(3) forwards;
}

@keyframes typing1 {
    0% {
        width: 0;
        border-right: solid 4px #2dfcd8;
    }
    90% {
        width: 3ch;
        border-right: solid 4px #2dfcd8;
    }
    100% {
        border: none;
    }
}

.time2 {
    animation: typing2 2s steps(18) forwards;
    border-left: none !important;
}

@keyframes typing2 {
    0% {
        width: 0;
        border-right: solid 4px #2dfcd8;
    }
    90% {
        width: 18ch;
        border-right: solid 4px #2dfcd8;
    }
    100% {
        border: none;
    }
}

.time3 {
    animation: typing3 2s steps(17) forwards;
}

@keyframes typing3 {
    0% {
        width: 0;
        border-right: solid 4px #2dfcd8;
    }
    90% {
        width: 17ch;
        border-right: solid 4px #2dfcd8;
    }
    100% {
        border: none;
    }
}

.landing-img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    object-position: 50%50%;
    border-radius: 100%;
}