<div id="contact" class="contact-background-sort">
    <div class="headline-positions">
        <h2 id="contact-me">Contact me.</h2>
        <p>Get in touch via the form below, or by emailing <a style="color: #2DFCD8;" href="mailto: dennis@denniskemnade.de">dennis@denniskemnade.de</a></p>
    </div>


    <form autocomplete="off" method="post" action="https://denniskemnade.de/send_mail.php">
        <p>Name</p>
        <input class="input-top" required placeholder="Enter your name" name="name" type="text">
        <p>Email adress</p>
        <input class="input-center" required placeholder="Enter your Email adress" name="email" type="email">
        <p>Message</p>
        <textarea class="input-textarea" required placeholder="Enter your message" name="message" cols="30" rows="10"></textarea>
        <div class="btn-sort">
            <button class="btn-primary-default-real-btn" type="submit">Send</button>
        </div>
    </form>
</div>