<div class="contact-background-sort">
    <div class="headline-positions">
        <h2 id="contact-me">Contact me.</h2>
    <p>Get in touch via the form below, or by emailing <a style="color: #2DFCD8;" href="mailto: dennis@denniskemnade.de">dennis@denniskemnade.de</a></p> 
    </div>
     
    
    <form action="">
        <p>Name</p>
        <input placeholder="Enter your name" type="text">
        <p>Email adress</p>
        <input placeholder="Enter your Email adress" type="text">
        <p>Message</p>
        <textarea  placeholder="Enter your message" name="" id="" cols="30" rows="10"></textarea>
        <div class="btn-sort">
            <a class="btn-primary-default" href="#">Send</a>
        </div>
    </form>
</div>