<div class="spotlight-galery-background">

    <div class="spotlight-galery-top-sort">
        <div class="headline-my-work">
            <h2 style="color: white; margin: 0;" id="my-work">My Work</h2>
        </div>
        <div class="button-sort">
            <a class="btn-secondary-default" (click)="showAllProjects()">All</a>
            <a class="btn-secondary-default" (click)="showElementAngular()">Angular</a>
            <a class="btn-secondary-default" (click)="showElementJavaScript()">Java Script</a>
        </div>
    </div>

    <div class="rect-sort-background">

        <div class="rect-sort">

            <div *ngIf="visibleJavaScript" class="rect rect-addon-poke">
                <div class="pokedex-rect">
                    <h3>Pokedex</h3>
                    <p>API and JavaScript <br> -based Pokedex.</p>
                    <a class="btn-secondary-default" target="_blank" href="https://github.com/k-webdev/pokedex">Go GIT</a>
                </div>
            </div>
            <div *ngIf="visibleAngular" id="website" class="rect">
                <div class="rect-addon-web web-rect">
                    <h3>Website</h3>
                    <p>Angular -based Website.</p>
                    <a class="btn-secondary-default" target="_blank" href="https://github.com/k-webdev/denniskemnade.de">Go GIT</a>
                </div>
            </div>

        </div>
        <div class="rect-sort">

            <div *ngIf="visibleJavaScript" id="elPollo" class="rect rect-addon-pollo">
                <div class="El-Pollo-Loco-rect">
                    <h3>El Pollo Loco</h3>
                    <p>JavaScript -based jump and run game.</p>
                    <div class="background-button">
                        <a class="btn-secondary-default" target="_blank" href="https://github.com/k-webdev/El_pollo_loco">Go GIT</a>
                        <a class="btn-secondary-default" target="_blank" href="https://www.k-webdev.de/projects/El_Pollo_Loco/index.html">Play It</a>
                    </div>

                </div>
            </div>
            <div *ngIf="visibleJavaScript" id="quiz" class="rect rect-addon-quiz">
                <div class="quiz-rect">
                    <h3>Quiz Time</h3>
                    <p>JavaScript and Bootstrap -based Quiz game.</p>
                    <div class="background-button">
                        <a class="btn-secondary-default" target="_blank" href="https://github.com/k-webdev/Quiz-App">Go GIT</a>
                        <a class="btn-secondary-default" target="_blank" href="https://www.k-webdev.de/projects/Quizz App/index.html">Play It</a>
                    </div>

                </div>
            </div>

        </div>
        <div class="rect-sort">

            <div *ngIf="visibleAngular" class="rect rect-addon-ring">
                <div class="ring-rect">
                    <p>Angular <br> -based Cardgame.</p>
                    <div class="background-button">
                        <a class="btn-secondary-default" target="_blank" href="https://github.com/k-webdev/ringoffire">Go GIT</a>
                        <a class="btn-secondary-default" target="_blank" href="https://www.k-webdev.de/projects/Quizz App/index.html">Play It</a>
                    </div>
                </div>
            </div>
            <!-- <div *ngIf="visibleJavaScript" class="rect rect-addon-poke">
                <div class="pokedex-rect">
                    <h3>Ring of Fire</h3>
                    <p>API and JavaScript <br> -based Pokedex.</p>
                    <a class="btn-secondary-default" target="_blank" href="https://github.com/k-webdev/ringoffire">Go GIT</a>
                </div>
            </div> -->

        </div>

    </div>

</div>