<div class="spotlight-galery-background">

    <div class="spotlight-galery-top-sort">
        <div class="headline-my-work">
            <h2 style="color: white; margin: 0;">My Work</h2>
        </div>
        <div class="button-sort">
            <a class="btn-secondary-default" href="#">All</a>
            <a class="btn-secondary-default" href="#">Angular</a>
            <a class="btn-secondary-default" href="#">Java Script</a>
        </div>
    </div>

    <div class="rect-sort-background">

        <div class="rect-sort">

            <div class="rect"></div>
            <div class="rect"></div>

        </div>
        <div class="rect-sort">

            <div class="rect rect-addon">
                <div class="El-Pollo-Loco-rect">
                    <h3>El Pollo Loco</h3>
                    <p>JavaScript -based jump and run game.</p>
                    <a class="btn-secondary-default" href="#">Try out</a>
                </div>
            </div>
            <div class="rect"></div>

        </div>

    </div>

</div>
