<header id="header">
    <img class="img-logo" routerLink="/" src="./assets/img/logo-me.png" alt="">

    <div class="wide-menu">
        <a class="home-button" routerLink="/">Home</a>
        <a href="https://www.denniskemnade.de/downloads/Lebenslauf.pdf">Curriculum</a>
        <a href="#my-work">Projects</a>
    </div>
    <div class="background-menu-button">
        <img (click)="openCloseMenu()" id="mobile-menu-btn" class="mobile-menu-design" src="./assets/img/menu.png"
            alt="">

    </div>

    <div *ngIf="!openCloseCounter" class="mobile-menu-background-design">
        <a class="home-button" routerLink="/">Home</a>
        <a href="https://www.denniskemnade.de/downloads/Lebenslauf.pdf">Curriculum</a>
        <a href="#my-work">Projects</a>
    </div>
</header>