<div class="skills-background">
    <div class="headline-skills">
        <h2 id="skills">MY Skills</h2>
    </div>
    <div>
        <div id="js-card" class="skill-sort-lines">
            <div [class.my-skills-animationIn]="skillsAnimationIn1" [class.my-skills-animationOut]="skillsAnimationOut1" class="sort-text-img">
                <div class="card-body-img">
                    <img src="./assets/img/java script.png" alt="">
                </div>
                <div class="card-body-text">
                    <p>Java Script</p>
                </div>

            </div>

            <div [class.my-skills-animationIn]="skillsAnimationIn1" [class.my-skills-animationOut]="skillsAnimationOut1" class="sort-text-img">
                <div class="card-body-img">
                    <img style="border-radius: 100%; padding: 8px; object-fit: contain;" src="./assets/img/angular.png" alt="">
                </div>
                <div class="card-body-text">
                    <p>Angular</p>
                </div>

            </div>

            <div [class.my-skills-animationIn]="skillsAnimationIn1" [class.my-skills-animationOut]="skillsAnimationOut1" class="sort-text-img">
                <div class="card-body-img">
                    <img src="./assets/img/Group 205.png" alt="">
                </div>
                <div class="card-body-text">
                    <p>HTML / CSS</p>
                </div>

            </div>


        </div>
    </div>
    <div>
        <div class="skill-sort-lines">
            <div [class.my-skills-animationIn]="skillsAnimationIn2" [class.my-skills-animationOut]="skillsAnimationOut2" class="sort-text-img">
                <div class="card-body-img">
                    <img src="./assets/img/Group 226.png" alt="">
                </div>
                <div class="card-body-text">
                    <p>Scrum</p>
                </div>

            </div>

            <div [class.my-skills-animationIn]="skillsAnimationIn2" [class.my-skills-animationOut]="skillsAnimationOut2" class="sort-text-img">
                <div class="card-body-img">
                    <img src="./assets/img/Git-Icon-1788C 2.png" alt="">
                </div>
                <div class="card-body-text">
                    <p>GIT</p>
                </div>

            </div>

            <div [class.my-skills-animationIn]="skillsAnimationIn2" [class.my-skills-animationOut]="skillsAnimationOut2" class="sort-text-img">
                <div class="card-body-img">
                    <img src="./assets/img/Group 20.png" alt="">
                </div>
                <div class="card-body-text">
                    <p>Design <br> Thinking</p>
                </div>

            </div>


        </div>
    </div>

    <div>
        <div class="skill-sort-lines">
            <div [class.my-skills-animationIn]="skillsAnimationIn3" [class.my-skills-animationOut]="skillsAnimationOut3" class="sort-text-img">
                <div class="card-body-img">
                    <img src="./assets/img/icons8-rest-api-80 2.png" alt="">
                </div>
                <div class="card-body-text">
                    <p>Rest API</p>
                </div>

            </div>

            <div [class.my-skills-animationIn]="skillsAnimationIn3" [class.my-skills-animationOut]="skillsAnimationOut3" class="sort-text-img">
                <div class="card-body-img">
                    <img src="./assets/img/icons8-test-lab-96 2.png" alt="">
                </div>
                <div class="card-body-text">
                    <p>Test <br> automation</p>
                </div>

            </div>

            <div [class.my-skills-animationIn]="skillsAnimationIn3" [class.my-skills-animationOut]="skillsAnimationOut3" class="sort-text-img">
                <div class="card-body-img">
                    <img src="./assets/img/icons8-database-52 2.png" alt="">
                </div>
                <div class="card-body-text">
                    <p>Databases</p>
                </div>

            </div>


        </div>
    </div>
</div>