.skills-background{
    background-color: #1A1A1A;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline-skills{
    h2{
        color: white;
        font-size: 48px;
        margin: 32px 0 0 0;
    }
}

.skill-sort-lines{
    display: flex;
    justify-content: center;
}

.sort-text-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body-img{
    position: relative;
    top: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border: rgba(0, 0, 0, 0.3) 1px solid;
    border-radius: 100%;

    img{
        background-color: white;
        width: 50px;
        object-fit: contain;
    }
}

.card-body-text{
    margin: 16px 32px 16px 32px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: white;
    width: 225px;
    height: 125px;
    border-radius: 8px;
    padding-bottom: 32px;
    p{
        font-size: 21px;
        font-weight: bold;
        text-align: center;
    }
}
