.impressum{
    padding: 140px 120px 80px 120px;
    background-color: black;
    color: white;
    a{
        color: #2DFCD8;
    }
}

@media(max-width: 700px){

    .impressum{
        padding: 120px 16px 80px 16px;
        text-align: center;
    }

}