html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    /* ===== Scrollbar CSS ===== */
    /* Firefox */
    * {
        scrollbar-width: auto;
        scrollbar-color: #fa2759 #000000;
    }
    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 16px;
    }
    *::-webkit-scrollbar-track {
        background: #000000;
    }
    *::-webkit-scrollbar-thumb {
        background-color: #fa2759;
        border-radius: 16px;
        border: 3px solid #000000;
    }
}

body {
    margin: 0;
}


/* === Menu sticky === */

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky+.content {
    padding-top: 60px;
}


/* =================== */


/* ==== Button designes ==== */

.btn-primary-default {
    /* for links */
    border: 2px #2DFCD8 solid;
    border-radius: 3px;
    padding: 8px 32px 8px 32px;
    color: #2DFCD8;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    &:hover {
        background-color: #2DFCD8;
        color: white;
    }
}

.btn-secondary-default {
    border: 2px #FA2759 solid;
    border-radius: 3px;
    padding: 8px 32px 8px 32px;
    color: #FA2759;
    text-decoration: none;
    font-weight: bold;
    margin: 32px;
    cursor: pointer;
    &:hover {
        background-color: #FA2759;
        color: white;
    }
}

.btn-primary-default-real-btn {
    cursor: pointer;
    background-color: black;
    border: 2px #2DFCD8 solid;
    border-radius: 3px;
    padding: 8px 32px 8px 32px;
    color: #2DFCD8;
    text-decoration: none;
    font-weight: bold;
    &:hover {
        background-color: #2DFCD8;
        color: white;
    }
}


/* ==== Button designs END = */


/* Scroll UP Arrow */

.space {
    height: 200px;
    background-color: red;
}

.back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 10;
    background-color: #2DFCD8;
    width: 50px;
    height: 50px;
    border: white;
    border-radius: 100%;
    transform: rotate(180deg);
}

@media (max-width: 400px) {
    body {
        overflow-x: hidden;
    }
}


/* ========== responsiv ========== */

@media (max-width: 1115px) {
    .left-about-me {
        flex-direction: column;
        text-align: center;
        h3,
        p {
            margin: 32px 0 0 0;
        }
    }
    .background-about-me-sort {
        margin-bottom: 0px;
        height: fit-content;
    }
    .about-me-sort-elements {
        flex-direction: column;
        align-items: center;
        height: auto !important;
        margin-bottom: 40px;
    }
}

@media(max-width: 1061px){
    .landing-left{
        p{
            font-size: 50px !important;
        }
    }
}

@media (max-width: 945px) {
    .container-landing {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
    }
    .landing-img{
        margin: 32px 0 0 0;
    }
    .landing-left {
        align-items: center;
        text-align: center;
        margin: 0 0 32px 0;
        justify-content: flex-start;
        height: auto;
        p {
            font-size: 50px !important;
        }
    }
    .sort-text-img {}
    .card-body-text {
        width: 150px;
        margin: 8px;
    }
    .card-body-img {
        position: relative;
        top: 50px;
        width: 80px;
        height: 80px;
    }
    .button-sort {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn-secondary-default {
        margin: 16px;
    }
    .headline-positions {
        width: 100% !important;
        align-items: center !important;
    }
    .contactSuccess {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
    }
    .contact-background-sort {
        padding: 0 0 50px 0 !important;
        p {
            width: 80%;
        }
    }
    form {
        width: 100% !important;
        align-items: center !important;
        input,
        textarea {
            width: 80% !important;
        }
    }
    .btn-sort {
        width: 80% !important;
    }
    .rect-sort {
        width: 100%;
        align-items: center;
    }
    .rect {
        width: 80%;
    }
    .skills-background {
        min-height: auto;
    }
}

@media (max-width: 1500px) {
    .landing-img{
        margin-top: 100px;
        height: 300px !important;
        width: 300px !important;
    }
    .container-landing {
        min-height: auto !important;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
    }
    .landing-left {
        align-items: center;
        text-align: center;
        justify-content: flex-start;
        height: 500px !important;
    }
}

@media (max-width: 450px) {
    .rect {
        margin: 8px 0 8px 0;
    }
    .container-landing {
        padding-top: 120px;
    }
    .landing-img {
        width: 250px;
        height: 250px;
    }
    .El-Pollo-Loco-rect {
        p {
            margin-bottom: 178px;
        }
        h3 {
            margin: 0;
        }
    }
    .rect-addon-poke {
        background-position: 12% 60%;
    }
}

@media (max-width: 530px) {
    .landing-left {
        p {
            font-size: 40px;
        }
    }
}

@media (max-width: 365px) {
    .landing-left {
        p {
            font-size: 21px;
        }
    }
}

@media (max-width: 490px) {
    .card-body-text {
        margin-top: 32px;
        width: 100px;
        height: 60px;
        p {
            font-size: 16px;
            position: relative;
            top: 30px;
        }
    }
    .card-body-img {
        position: relative;
        top: 60px;
        width: 60px;
        height: 60px;
        img {
            width: 30px;
        }
    }
    .landing-left {
        p {
            font-size: 32px;
        }
    }
    .headline-skills {
        h2 {
            font-size: 32px;
        }
    }
    .headline-my-work {
        h2 {
            font-size: 32px;
        }
    }
    .rect {
        width: 98% !important;
        padding: 0 !important;
        margin: 16px 0 16px 0 !important;
    }
    .left-about-me {
        padding: 0;
        width: 100%;
        img {
            margin: 32px 0 0 0 !important;
        }
    }
    .about-me-top {
        width: 100%;
        margin-bottom: 32px;
    }
}